@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-stack:"Montserrat", sans-serif;

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

.container {
    max-width: 1300px;
    padding: 30px 0;
    // overflow: auto;
    margin: 0 auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    flex: 1;
    gap: 50px;
}

.main-width {
    width: 80%;
    margin: 0 auto;
}

.btn {
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.subtitle {
    text-align: left;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 4rem 0 2rem 0;
}

img {
    max-width: 100%;
}

form {
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        background: #e2e2e2;
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        border: none;
    }
    button {
        display: inline-block;
        width: 100%;
        background: #000;
        margin-bottom: 2rem;
    }
}

//iconos font awesome
::placeholder {
    font-family: "Font Awesome 5 Free"; font-weight: 600; content: "\f007";
    text-align: right;
}

//mainheader
#mainheader {
    background: url("/images/showcase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
padding-bottom: 100px;
        .navbar {
            .logo {
                font-size: 2rem;
                color: red;
            }
            ul {
                display: flex;
                margin-top: .8rem;
                li {
                    display: inline-block;
                    margin-left: 1rem; 
                }
            }
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
            }
        }

        .showcase-content {
            margin-top: 8rem;
            p {
                width: 90%;
                font-size: 1.2rem;
                color: #fff;
                text-align: center;
                margin: 0 auto;
                margin-top: 2rem;
            }
            a {
                width: 20%;
                display: block;
                text-align: center;
                margin: 0 auto;
                margin-top: 2rem;
                background: rgb(32, 170, 208);
            }
        }
    
}

//projects
#projects {
    .projects-content {
        text-align: left;
        p {
            margin-bottom: 1rem;
        }
    }
    .project-row {
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            text-align: center;
            border-radius: 10px;
        }
        h3 {
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 300;
        }
    }
}

//benefits
#benefits {
    .benefits-row {
        text-align: justify;
        img {
            display: block;
            text-align: center;
            margin: 0 auto;
            width: 40%;
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 3rem;
        }
    }
    .innovations {
        text-align: center;
        h2 {
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }
    }
}

//contact
#contact {
    .contact-content {
        p {
            margin-bottom: 2rem;
        }
    }
    .contact-row {
        margin: 0 auto;
     text-align: center;
     gap: 200px;
     
     h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 400;
     }
    }
}

//message
#message {
    width: 70%;
    margin: 0 auto;
    form {
        .flex {
            display: flex;
            gap: 20px;
        }
        .flex-box-1 {
            flex: 1;
        }
    }
}


//footer
#footer {
    text-align: center;
    padding: 3rem 0;
}